#galerie figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#galerie .fig_galerie figure {
  display: flex;
  flex-direction: column;
}

.fig_galerie figcaption {
  padding: 10px;
}
#galerie img {
  border-radius: 10px;
  transform: scale(1);
  transition: transform, 1s;
}
#galerie img:hover {
  transform: scale(2);
  z-index: 1;
}
