#galerie figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.fig_galerie {
  width: 80%;
}
#galerie .fig_galerie figure {
  display: flex;
  flex-direction: column;
}

.fig_galerie figcaption {
  padding: 10px;
}
#galerie img {
  border-radius: 10px;
  transform: scale(1);

  transition: transform, 1s;
}
/*animation quand on passe sur une image avec la sourie*/
#galerie img:hover {
  transform: scale(1.5);
  z-index: 3;
}
