html {
  scroll-behavior: smooth;
  color: #2f3e46;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  margin: 0;
  font-size: 4rem;
  padding: 1rem;
}

/*/////////////////////////////////////////////// Les sections de la page*/
#accueil,
#inscription,
#tableau,
#articles,
#galerie,
#evenement,
#video,
#footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*////////////////////////// accueil/////////////////////*/
#accueil {
  background-color: #c9bcba;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

#accueil .entete {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100vw;
  background-color: #570805;
  color: #faedeb;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 20px 0px;
}
#accueil .presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: #faedeb;
  border-radius: 30px;
  border: 2px solid #570805;
}
#accueil p {
  text-align: center;
}
#accueil a {
  color: #407144;
}
#inscription {
  background-color: #407144;
}
#tableau {
  background-color: #faedeb;
}

#galerie {
  background-color: #faedeb;
}
#evenement {
  background-color: #faedeb;
}
#video {
  background-color: #faedeb;
}

/* ////////////////////////////////////////////// */

/*/ //////////////////////////////////////////////////////////////////////////////////////////////*/
/*
Menu principal du site
On utilise un positionnement fixe pour que le menu reste en haut de chacune des sections
*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #570805;
  width: auto;
  font-size: 1.5rem;
  padding: 80px 20px 1rem 10px;
  z-index: 1;
  /*transformations*/
  transform: translate(-100vw);
  transition: transform 0.5s;
  border-end-end-radius: 14px;
}
nav a {
  color: #faedeb;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0px 10px 20px;
  /*transformations*/
  transform: scale(1);
  transition: transform, 0.5s;
}
nav a:hover {
  transform: scale(1.2);
}

/*//////////////////////////////// interactibilité //////////////////////////////*/
#chk-burger {
  display: none;
}
#chk-burger:checked ~ #burger img {
  transform: rotate(90deg);
}
#chk-burger:checked ~ .menu {
  transform: translate(0);
}

#burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #570805;
  border-end-end-radius: 14px;
  padding: 10px;
}
#burger img {
  /*transformarions*/
  transform: rotate(0deg);
  transition: transform 0.25s;
}

/*/////////////////////////////////////// footer ///////////////////////*/
#footer {
  background-color: rgb(0, 0, 0);
  color: #faedeb;
  display: flex;
  justify-content: space-around;
}
#footer div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#footer div dt {
  font-size: 1.2rem;
}

#footer div dd {
  font-size: 0.9rem;
}
#footer div dd a {
  color: #faedeb;
}

#footer div dl {
  display: flex;
  flex-direction: column;
}

#footer a {
  padding: 0px 10px;
}

#footer div .liens {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer div .liens dd,
#footer div .recherche dd,
#footer div .description dd {
  margin-inline-start: 0;
}

#footer div .description {
  width: 200px;
}
