.mon_tableau {
  border-collapse: collapse;
}
/*En tete,sous titres et footer*/
.tbl_header,
.sous_titre,
tfoot {
  color: #faedeb;
}

.mon_tableau .tbl_header {
  background-color: #631d1a;
}

.mon_tableau td,
.mon_tableau th {
  border: 1px solid #555;
  padding: 25px;
}
.mon_tableau th {
  font-size: 1.2rem;
}
.mon_tableau .sous_titre {
  background-color: #634847;
}
.mon_tableau td {
  font-size: 1rem;
}
/*images*/
.mon_tableau tr img {
  width: 300px;
}

/*permet de mettre 1 colone/2 plus foncée*/
.mon_tableau tbody tr td:nth-of-type(even) {
  background-color: rgb(255, 255, 255);
}
.mon_tableau tbody tr td:nth-of-type(odd) {
  background-color: rgb(241, 241, 241);
}
/*footer*/
.mon_tableau tfoot {
  background-color: #517253;
  text-align: center;
  font-size: 1rem;
}

.mon_tableau tfoot a {
  text-decoration: none;
  color: #faedeb;
}
.mon_tableau tfoot a img {
  display: inline;
  width: auto;
  padding: 0px 3px;
}

.mon_tableau tfoot a:hover {
  color: #cac0be;
}
